body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #0f0f2e;
}

::-webkit-scrollbar-thumb {
  background: #0f0f2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f0f2e;
}
